*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
// header seaciton

header{
    width: 100%;
    display: flex;
    padding: 25px 80px;
    justify-content: space-between;
    .last-part{
        ul{
            display: flex;
            gap: 80px;
            li{
                list-style: none;
                justify-content: space-between;
                line-height: 100px;
                a{
                    text-decoration: none;
                    color: #C3B9B5;
                }
            }
        }
    }
    .third-part{
        .location{
            color: #FFC59E;
            display: flex;
            line-height: 100px;
            img{
                height: 50px;
                margin: auto 0;
            }
        }
    }
}
.first-topik{
    display: flex;
    height: 616px;
    .list{
        padding: 25px 110px;
        width: fit-content;
        ul{
            li{
                list-style: none;
                margin: 30px 0;
                a{
                    text-decoration: none;
                    font-size: 20px;
                    padding: 8px 13px;
                }
                .Ellipse1{
                    padding: 8px 13px;
                    border: 1px solid #080606;
                    border-radius: 50%;
    
                }
            }
        }
    }    
    .topik{
        padding-left: 170px;
        h1{
            font-size: 70px;

        }
        button{
            margin: 80px 0;
            padding: 20px 50px;
            border: none;
            background-color: #FFC59E;
            box-shadow: 0px 4px 20px 0px #FFC59E;
            border-radius: 50px;
            color: white;
        }
        .social{
            display: flex;
            gap: 30px;
        }
    }
    .image{
        img{
            width: 700px;
            height: 600px;
            z-index: -1;
            bottom: 0;
            right: 0;
            position: absolute;
        }
        h3{
            color: #59443F;
            top: 43rem;
            right: 6rem;
            position: absolute;
        }
    }
}
.cards{
    padding: 150px 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    .card{
        padding: 10px;
        width: 270px;
        height: 170px;
        border: 1px solid #dbd7d7;
        border-radius: 15px;
        img{
            left: 8rem;
            top: 1rem;
            position: relative;
        }
    }
}
.Group18{
    text-align: center;
    padding: 100px 100px;
    p{
        width: 460px;
        margin: 200px 0;
        text-align: start;
        margin: 0 auto;
        color: #59443F;
    }
    h4{
        color: #FFC59E;
    }
    h3{
        color: #FFC59E;
    }
}
.Group16{
    text-align: center;
    padding: 20px 20px;
    margin: 0 auto;
    img{
        margin: 0 10px;
    }
}
.performance{
    text-align: center;
    padding: 18rem 100px;
    h1:first-child{
        font-size: 8rem;
        color: #59443F;
    }
    h1{
        font-size: 60px;
        color: #080606;
        font-weight: 200;
        z-index: -1;
    }
    img{
        // z-index: 2;
        margin-top: -50px;
        margin-right: -28rem;
        width: 200px;
    }
}

// footer section //
footer {
    width: 100%;
    background-color: #59443F;
    height: 70vh;
    margin-top: 110%;

    .container {
        width: 80%;
        margin: auto;
        padding: 40px 0px;
        display: flex;
        color: #fff;
        p{
            margin: 10px 0px;
        }
        .left {
            .post-text {
                position: absolute;
                top: 5%;
                left: 20%;
            }
        }
    }
    .left-b {
        margin-top: 30%;
    }

    .midll-b {
        position: absolute;
        top: 400%;
        left: 40%;
    }
    .left-r {
        position: absolute;
        left: 130%;
        top: 0;
    }

    .right {
        position: absolute;
        right: 50px;
        .imgs {
            margin-top: 25%;
        }

        .end-text {
            position: absolute;
            top: 120%;
            code {
                position: absolute;
                top: 450%;
                display: flex;
            }
        }
    }
}
// blog //
.container2 {
    width: 90%;
    margin: auto;

    .right-m {
        position: absolute;
        left: 40%;
        top: 25%;
    }
    .card2 {
        display: flex;
        margin: 40px 0px;
        .l-text {
            margin-left: 2%;
            padding: 30px 0px;
        }
    }
}
main{
    display: flex;
    gap: 200px;
    margin: 50px 50px ;
    div{
        h2{
            //styleName: подзаголовок;
            font-family: SchoolBook;
            font-size: 30px;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: left;
            color: #080606;

        }
    }
    pre{

        font-family: sans-serif;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;
        
    }
.yarom_tomon{
    width: 100%;
    overflow:auto;
}    
.doctors{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    div{
        width: calc(25% - 20px);
        padding: 10px 20px;
        top: 395px;
        left: 781px;
        border-radius: 20px;
        box-shadow: 2px 2px 20px 0px #0000001A;
    }
}
}
.Back{
 display: flex;
 flex-direction: row; 
 justify-content: center;
 gap: 10px;
 color: #FFC59E;  
 
}
nav{
    height: 100%;
    ul{
        display: flex;
        flex-direction: column;
        gap: 50px;
        a{
            text-decoration: none;
            color: #C3B9B5;
            //styleName: РАЗДЕЛ;
            font-family: Futura New;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0px;
            text-align: left;

            
        }
    }
    h1{
        //styleName: заголовок_главная;
        font-family: SchoolBook;
        font-size: 80px;
        line-height: 110px;
        letter-spacing: 0px;
        text-align: left;
        color: #080606;

    }
}
.lecheniya_img{
    width: 909px;
    height: 424px;
    top: 1472px;
    left: 781px;
    border-radius: 20px;

}
table {
    border-collapse: collapse;
    width: 100%; /* Увеличиваем ширину таблицы */
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Добавляем тень */
    background-color: #fff; /* Цвет фона таблицы */
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 20px; /* Увеличиваем отступы внутри ячеек */
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
